.todo {
    background-color: white;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.todotext {
    font-size: 1.2rem;

}

.todoIcon {

    color: brown;
    font-size: 1.5rem;
}